.root {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
}

.root svg {
  display: block;
  width: 100%;
  height: 100%;
}

.root--xs {
  width: var(--sem-icon-size--xs);
  height: var(--sem-icon-size--xs);
}

.root--sm {
  width: var(--sem-icon-size--sm);
  height: var(--sem-icon-size--sm);
}

.root--md {
  width: var(--sem-icon-size--md);
  height: var(--sem-icon-size--md);
}
